section#blog .blog-title h2{
    background-color: goldenrod;
    display: inline-block;
    font-size: 1.2rem;
    color: white;
    padding: 10px 50px;
    position: relative;
}


section#blog .blog-title h2::after{
    background-color: goldenrod;
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    border: 5px solid rgb(198, 54, 2);
    border-bottom: 5px solid #fff;
    border-left: 5px solid #fff;
}

section#blog .diary p{
    color: gray;
}


.blog-container .blog-list-item{
  box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.2);
  position: relative;
}

.blog-container .blog-list-item img{
    width: 400px;
    height: 200px;
}

.blog-container .blog-list-item .blog-date{
    position: absolute;
    z-index: 2;
    right: 20px;
    top: 170px;
}

.blog-container .blog-list-item .blog-date{
    background-color: goldenrod;
    height: 50px;
    width: 50px;
    color: white;
}

.blog-container .blog-list-item .blog-date h2{
    margin-bottom: 0;
    font-size: 1.1rem;
}

.blog-container .blog-list-item .blog-date p{
    margin-top: 0;
}



@media screen and (max-width:427px) {
    .blog-container{
        padding: 0 30px;
    }
    .blog-container .blog-list-item img{
        width: 300px;
    }
}